header {
    border-bottom: 1px solid #A0A0A0;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    a {
        display: block;
    }
    .headr_left {
       display: flex;
       align-items: center;
       img:first-child {
           margin-right: 10px;
       }
    }
    .header_right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            margin-left: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a:first-child img{
            height: 23px;
            object-fit: contain;
        }
        a:last-child img{
            height: 23px;
            object-fit: contain;
        }
        a:last-child {
            position: relative;
            span {
                border-radius: 50%;
                top: 10px;
                height: 10px;
                width: 10px;
                position: absolute;
                background: #B92362;
                color: #fff;
                font: 7px "600";
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.bg {
    background: rgba(33, 33, 33, 0.51);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
    z-index: 99;
}

.bg_active {
    opacity: 1;
    pointer-events: auto;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    padding: 15px;
    height: 440px;
    width: 300px;
    transition: .3s;
    z-index: 9999;
    transform: translateX(-125%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 320px) {
        width: 80vw;
    }
    .close_icon {
        margin-bottom: 25px;
        height: 17px;
        width: 17px;
    }
    ul {
        margin-bottom: auto;
        li {
            padding: 15px 0;
            border-bottom: 1px solid #C1A790;
            a {
                text-align: center;
                display: block;
                color: #000;
                font: 1rem "600";
                transition: .3s;
                &:hover {
                    color: #C1A790;
                }
            }
        }
        li:last-child {
            border: none;
        }
    }
    .social_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            display: block;
            margin: 0 5px;
            img {
                height: 28px;
                width: 28px;
            }
        }
    }
}

.nav_active {
    transform: translateX(0);
}

.header_bottom {
    background: #000;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        color: #FFF;
        font: .625rem "400";
    }
}