.empty {
    margin-bottom: 70px;
    .empty_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            margin-bottom: 30px;
        }
        .empty_text {
            text-align: center;
            font: 1.125rem "400";
            margin-bottom: 40px;
        }
        .empty_btn {
            max-width: 240px;
            width: 100%;
            text-align: center;
            font: 1.125rem "600";
            color: #fff;
            padding: 15px 30px;
            background: #000;
            border-radius: 3px;
        }
    }
}


.bug_header {
    position: absolute;
    background: #fff;
    border-radius: 0px 0px 15px 15px;
    padding: 15px;
    left: 0;
    right: 0;
    top: 45px;
    box-sizing: border-box;
    width: 100%;
    display: none;
    .bug_header_wrap {
        display: flex;
        margin-bottom: 25px;
        align-items: center;
        justify-content: space-between;
        p {
            font: 1rem "800";
            color: #000;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .bug_item_wrap {
        display: grid;
        grid-template-columns: 110px 1fr;
        grid-gap: 12px;
        margin-bottom: 10px;
        img {
            max-width: 100%;
            object-fit: cover;
            border-radius: 3px;
        }
        .bug_item_info {
            .bug_title {
                margin-bottom: 5px;
                color: #000;
                display: block;
                font: .87rem "600";
            }
            .bug_attr {
                margin-bottom: 5px;
                color: #929292;
                font: .75rem "400";
            }

            .bug_price {
                margin-top: 15px;
                color: #000;
                font: .95rem "800";
                span {
                    color: #929292;
                    font: .75rem "400";
                    margin-left: 5px;
                    text-decoration: line-through;
                }
            }
        }
    }
    .bug_bottom_wrap {
        display: grid;
        margin-top: 30px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        @media (max-width: 320px) {
            grid-template-columns: 1fr;
        }
        a {
            border-radius: 3px;
            display: block;
            color: #000;
            border: 1px solid #000;
            text-align: center;
            font: .87rem "600";
            padding: 10px 5px;
        }
        a:last-child {
            color: #fff;
            background: #000;
        }
    }
}

.bug_page {
    margin-bottom: 40px;
    .bug_page_title {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bug_title {
            font: 1.5rem "800";
            color: #000;
            display: block;
        }
        .bug_coll {
            font: .87rem "400";
        }
    }
    .bug_all {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p:first-child {
            span {
                color: #b98061;
            }
        }
        p:last-child {
            display: flex;
            align-items: center;
            span {
                color: #929292;
                font: .8rem "400";
                margin-right: 8px;
            }
        }
        p {
            font: 1.05rem "800";
            color: #000;
        }
    }
    .bug_all_item {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.21);
        margin-bottom: 10px;
        p {
            font: 1.2rem "800";
            color: #000;
        }
    }
    .bug_bottom_btn {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        margin-top: 55px;
        a  {
            text-align: center;
        }
        a:first-child {
            background: #000;
            border-radius: 4px;
            padding: 15px;
            text-align: center;
            border-radius: 4px;
            font: 1.2rem "600";
            color: #fff;
        }
        a:last-child {
            text-decoration: underline;
            font: 1rem "600";
            color: #000;
        }
    }
    .bug_item_wrap {
        display: grid;
        grid-template-columns: 110px 1fr;
        grid-gap: 12px;
        border-bottom: 1px solid rgba(0, 0, 0, .21);
        margin-bottom: 20px;
        padding-bottom: 15px;
        .swiper_bug {
            width: 110px;
            overflow: hidden;
            position: relative;
            padding-bottom: 15px;
            .swiper-pagination-bullet {
                height: 6px;
                width: 6px;
                opacity: 1;
                border-radius: 50%;
                background: rgba(0, 0, 0, .5);
            }
            .swiper-pagination-bullet-active {
                background: rgba(0, 0, 0, 0.9);
            }
            .swiper-pagination {
                bottom: 2.5px!important;
            }
        }
        img {
            max-width: 100%;
            object-fit: cover;
            border-radius: 3px;
        }
        .bug_item_info {
            .bug_title {
                margin-bottom: 5px;
                font: .87rem "600";
                color: #000;
                display: block;
            }
            .bug_attr:nth-child(3) {
                margin-top: 10px;
            }
            .bug_attr {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                color: #929292;
                font: .75rem "400";
                span {
                    margin-left: 8px;
                }
                img {
                    margin-left: 5px;
                    appearance: none;
                    pointer-events: none;
                }
                select {
                    margin-left: 5px;
                    background: none;
                    border: none;
                    appearance: none;
                    outline: none;
                    color: #929292;
                    font: .75rem "400";
                    margin-left: -35px;
                    padding-left: 40px;
                    margin-right: -20px;
                    padding-right: 20px;
                }
            }
            .bug_price {
                margin-top: 15px;
                color: #000;
                font: .95rem "800";
                span {
                    color: #929292;
                    font: .75rem "400";
                    margin-left: 5px;
                    text-decoration: line-through;
                }
            }
        }
    }   
}

.bug_order_wrap {
    margin-top: -30px;
    margin-bottom: 30px;
    .bug_order_top {
        text-align: center;
        color: #fff;
        font: .87rem "600";
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        background: #000;
        border-radius: 5px;
        margin-bottom: 10px;
        img {
            margin-right: 10px;
        }
    }
    .bug_order_item {
        background: rgba(193, 167, 144, 0.15);
        display: grid;
        height: 255px;
        max-height: 255px;
        border-radius: 5px;
        grid-template-columns: 120px 1fr;
        overflow: hidden;
        @media (max-width: 320px) {
            grid-template-columns: 1fr;
        }
        img {
            max-width: 100%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .bug_order_info {
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .sale {
                background: #9F5025;
                border-radius: 2px;
                margin-bottom: 10px;
                text-align: center;
                padding: 4px 15px;
                color: #fff;
                text-align: center;
                font: .75rem "600";
            }
            .title {
                margin-bottom: 10px;
                color: #000;
                font: .87rem/16px "800";
            }
            .price {
                color: #000;
                margin-bottom: 15px;
                font: 1.125rem "800";
                span {
                    margin-left: 5px;
                    font: .7rem "600";
                    color: #929292;
                    text-decoration: line-through;
                }
            }
            .choice_color {
                margin-bottom: 15px;
                display: flex;
                align-items: center;
                span {
                    margin-right: 7px;
                    height: 16px;
                    border-radius: 50%;
                    display: block;
                    width: 16px;
                    position: relative;
                }
                .color_active {
                    &::before  {
                        content: '';
                        height: 19.5px;
                        width: 19.5px;
                        display: block;
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform:translate(-50%, -50%);
                        border-radius: 50%;
                        border: .5px solid #000;
                    }
                }
            }
            .order_size_wrap {
                display: grid;
                grid-template-columns: 120px 1fr;
                grid-gap: 15px;
                margin-bottom: 20px;
                @media (max-width: 576px) {
                    grid-gap: 10px;
                    grid-template-columns: 110px 1fr;
                }
                .select_box {
                    &::after {
                        top: 10px;
                        right: 9px;
                        content: '';
                        background: url(../img/arr.svg);
                        background-size: 6px 6px;
                        height: 6px;
                        width: 6px;
                        display: block;
                    }
                }
                select {
                    width: 100%;
                    font: .8rem "800";
                    padding: 5px 10px;
                    background: #fff;
                    border: none;
                    outline: none;
                    text-transform: uppercase;
                    border-radius: 2px;
                }
                a {
                    text-decoration: underline;
                    font: .6rem "600";
                    color: #000;
                    display: flex;
                    justify-content: flex-end;
                    align-content: center;
                    img {
                        display: block;
                        object-fit: contain;
                        position: relative;
                        top: 5px;
                        height: 12px;
                        width: 12px;
                        margin-right: 5px;
                    }
                }
            }
            .item_modal_btn {
                display: grid;
                width: 100%;
                box-sizing: border-box;
                grid-template-columns: 1fr 40px;
                grid-gap: 8px;
                a {
                    width: 100%;
                    display: block;
                    background: #000;
                    border-radius: 5px;
                    text-align: center;
                    color: #fff;
                    border: 1px solid #000;
                    box-sizing: border-box;
                    padding:  10px;
                    font: .87rem "800";
                }
                .select {
                    display: block;
                    width: 100%;
                    border: 1px solid #8A8A8A;
                    border-radius: 4px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    select {
                        width: 35px;
                        text-align: center;
                        font: .87rem "600";
                        height: 100%;
                        position: relative;
                        left: -8px;
                        text-align: center;
                        border: none;
                        background: transparent;
                        appearance: none;
                        outline: none;
                        box-sizing: border-box;
                        appearance: none;
                        outline: none;
                    }
                    svg {
                        position: absolute;
                        right: 5px;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

.order_info {
    margin-top: 50px;
    margin-bottom: 30px;
    font: .87rem/14px "400";
}

.promo_call {
    margin-bottom: 10px;
    font: .87rem "400";
    color: #929292;
}

.active_li {
    text-decoration: underline;
}

.promo_form {
    margin: 10px 0;
    display: none;
    .promo_box {
        display: grid;
        grid-template-columns: 220px 1fr;
        grid-gap: 5px;
        .promo_inp {
            color: #000;
            padding: 10px;
            appearance: none;
            outline: none;
            font: 1rem "400";
            border: 1px solid #000000;
            border-radius: 3px;
        }
        .bromo_btn {
            border: none;
            padding: 10px 5px;
            text-align: center;
            color: #fff;
            background: #000;
            border-radius: 3px;
            font: 1rem "800";
        }
    }
    .promo_sale {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font: .87rem "600";
        }
        p:last-child {
            color: #9F5025;
        }
    }
}

.order_item_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-bottom: 35px;
    .order_item_title {
        margin-bottom: 10px;
        font: 1.2rem "800";
    }
    .item_input {
        color: #000;
        padding:  15px;
        appearance: none;
        outline: none;
        font: 1rem "400";
        border: 1px solid #000000;
        border-radius: 3px;
        box-sizing: border-box;
        width: 100%;
    }

    .input_box {
        position: relative;
        a {
            position: absolute;
            display: block;
            right: 10px;
            top: 15px;
        }
    }

    .adress_wrap {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    textarea {
        height: 130px;
    }

    .order_item_select {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8px;
        margin-bottom: 30px;
        .select_box {
            &::after {
                top: 10px;
            }
        }
        select {
            color: #000;
            padding: 10px;
            outline: none;
            font: 1rem "600";
            border: 1px solid #000000;
            border-radius: 3px;
            box-sizing: border-box;
            width: 100%;
        }
        p {
            color: #979797;
            font: .87rem "400";
        }
    }
    
    .checkbox input[type="checkbox"] {
        opacity: 0;
        position: absolute;
    }

    .checkbox label {
        position: relative;
        display: inline-block;
        
        /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
        padding-left: 25px;
        font: .87rem "600";
    }

    .checkbox label::before,
    .checkbox label::after {
        position: absolute;
        content: "";
        
        /*Needed for the line-height to take effect*/
        display: inline-block;
    }

    /*Outer box of the fake checkbox*/
    .checkbox label::before{
        height: 16px;
        width: 16px;
        border-radius: 2px;
        border: 1px solid;
        left: 0px;
        
        /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
        *to vertically center it.
        */
        top: 3px;
    }

    /*Checkmark of the fake checkbox*/
    .checkbox label::after {
        height: 4px;
        width: 6px;
        border-left: 2px solid;
        border-bottom: 2px solid;
        
        transform: rotate(-45deg);
        
        left: 5px;
        top: 7.5px;
    }

    /*Hide the checkmark by default*/
    .checkbox input[type="checkbox"] + label::after {
        content: none;
    }

    /*Unhide on the checked state*/
    .checkbox input[type="checkbox"]:checked + label::after {
        content: "";
    }


    .radio input[type="radio"] {
        opacity: 0;
        position: absolute;
    }

    .radio label {
        position: relative;
        display: inline-block;
        padding-left: 32px;
        font: 1.1rem "600";
        span {
            margin-left: 10px;
            color: #676767;
            font: .87rem "600";
        }
    }

    .radio label::before,
    .radio label::after {
        position: absolute;
        content: "";
        
        /*Needed for the line-height to take effect*/
        display: inline-block;
    }

    /*Outer box of the fake checkbox*/
    .radio label::before{
        height: 22px;
        width: 22px;
        border-radius: 50%;
        border: 1px solid #000;
        left: 0px;
        top: -2px;
    }

    /*Checkmark of the fake checkbox*/
    .radio label::after {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #C1A790;
        left: 4px;
        top: 2px;
    }

    /*Hide the checkmark by default*/
    .radio input[type="radio"] + label::after {
        content: none;
    }

    /*Unhide on the checked state*/
    .radio input[type="radio"]:checked + label::after {
        content: "";
    }

    .pay_wrap {
        display: flex;
        align-items: center;
        margin: 5px 0;
        height: 30px;
        img {
            margin-right: 10px;
            max-height: 20px;
            object-fit: cover;
        }
    }
    .card_text {
        font: .87rem "400";
        a {
            text-decoration: underline;
            color: #b98061;
        }
    }
}

.order_main_btn {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
    margin-top: 50px;
    a {
        background: #fff;
        text-align: center;
        border-radius: 4px;
        border: 1px solid #000;
        padding: 5px;
        font: 1.2rem "600";
        height: 40px;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 35px;
            margin-left: 5px;
        }   
    }
    a:first-child {
        background: #000;
        color: #fff;
    }
    a:last-child {
        img {
            position: relative;
            top: 2px;
        }
    }
}

.polit {
    text-align: center;
    font: .8rem "400";
    a {
        text-decoration: underline;
        color: #000;
    }
}

.modal_btn_wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    transition: .3s;
    transform: translateY(130%);
    width: 100%;
    box-sizing: border-box;
    background: #FFF;
    border-radius: 15px 15px 0px 0px;
    padding: 30px;
    .modal_btn_bottom {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        a {
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #000000;
            border-radius: 4px;
            text-align: center;
            color: #fff;
            font: 1.25rem "800";
            padding: 15px;
            display: block;
            background: #000;
        }
        a:last-child {
            background: #fff;
            color: #000;
        }
    }
}

.modal_btn_wrap_active {
    transform: translateY(0);
}

.choince_size {
    padding: 0 15px;
    margin-bottom: 10px;
    position: relative;
    top: -5px;
    color: #9f5025;
    font: 1rem "600";
}

.none_size {
    border-radius: 5px;
    margin: 0 15px;
    padding: 0!important;
    position: relative;
    &::after {
        content: '';
        border: 2px solid #9f5025;
        position: absolute;
        height: 115%;
        top: -7px;
        left: -8px;
        border-radius: 5px;
        right: 0;
        pointer-events: none;
        display: block;
        bottom: 0;
        width: 103.5%;
    }
}