html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

button {
    outline: none;
}

.padding {
    padding: 0 15px;
}


// main {
//     min-height: calc(100vh - 80px);
// }

a {
    outline: none;
    text-decoration: none;
}