.bread {
    margin-bottom: 20px;
    ul {
        display: flex;
        align-items: center;
        li {
            padding-right: 8px;
            margin-right: 8px;
            position: relative;
            &::after {
                content: '/';
                position: absolute;
                right: -2px;
                top: 1px;
            }
            a,span {
                font: .8rem "400";
                color: #949494;
            }
        }
        li:last-child {
            &::after {
                content: '';
            }
        }
    }
}

.inside_wrap {
    .inside_title {
        font: 1.75rem "800";
        margin-bottom: 25px;
    }
    .inside_text {
        font: .75rem "400";
        margin-top: -15px;
        margin-bottom: 10px;
    }
    form {
        margin-bottom: 80px;
        .input_boxs {
            margin-bottom: 10px;
            p {
                display: none;
            }
            input {
                color: #000;
                padding: 12px 10px;
                appearance: none;
                outline: none;
                background: transparent;
                font: 1rem "400";
                border: 1px solid #000000;
                border-radius: 3px;
                box-sizing: border-box;
                width: 100%;
            }
        }
        .red {
            input {
                border: 1px solid #CD0404;
            }
            p {
                font: .87rem "400";
                color: #CD0404;
                margin-top: 5px;
                display: block;
            }
        }
        
    .checkbox input[type="checkbox"] {
        opacity: 0;
        position: absolute;
    }

    .checkbox label {
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
        /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
        padding-left: 25px;
        font: .87rem "600";
    }

    .checkbox label::before,
    .checkbox label::after {
        position: absolute;
        content: "";
        
        /*Needed for the line-height to take effect*/
        display: inline-block;
    }

    /*Outer box of the fake checkbox*/
    .checkbox label::before{
        height: 16px;
        width: 16px;
        border-radius: 2px;
        border: 1px solid;
        left: 0px;
        
        /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
        *to vertically center it.
        */
        top: -1px;
    }

    /*Checkmark of the fake checkbox*/
    .checkbox label::after {
        height: 4px;
        width: 6px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        
        transform: rotate(-45deg);
        
        left: 5px;
        top: 3.5px;
    }

    /*Hide the checkmark by default*/
    .checkbox input[type="checkbox"] + label::after {
        content: none;
    }

    /*Unhide on the checked state*/
    .checkbox input[type="checkbox"]:checked + label::after {
        content: "";
    }

    .checkbox input[type="checkbox"]:checked + label::before {
        content: "";
        background: #000;
    }
        button {
            border: none;
            width: 100%;
            box-sizing: border-box;
            padding: 12px 10px;
            text-align: center;
            color: #fff;
            background: #000;
            border-radius: 3px;
            font: 1.25rem "800";
        }
        .forget {
            margin-top: 10px;
            color: #000;
            display: block;
            text-align: center;
            text-decoration: underline;
            font: .87rem "600";
        }
    }
}

.inside_social {
    .inside_social_link {
        font: 1rem "600";
        color: #000;
        margin-bottom: 15px;
        text-align: center;
        a {
            text-decoration: underline;
            display: block;
            color: #000;
        }   
    }
    .inside_wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 5px;
        }
    }
}

.inside_btn_cust {
    margin-top: 40px;
    text-align: center;
    border: 1px solid #000000;
    display: block;
    background: #000;
    font: 1.1rem "800";
    padding: 12px;
    color: #fff;
    text-align: center;
    border-radius: 4px; 
}

.create_wrap {
    .create_btn {
        margin-bottom: 10px;
        text-align: center;
        border: 1px solid #000000;
        display: block;
        font: 1.2rem "800";
        padding: 12px;
        margin-bottom: 10px;
        color: #000;
        text-align: center;
        border-radius: 4px;
    }
    .create_link {
        color: #000;
        display: block;
        text-decoration: underline;
        font: .87rem "600";
        text-align: center;
    }
}